header{
    background-color: lightblue;
    margin-bottom: 1em;
    padding: 1em;
}

nav ul {
    list-style: none; /* Quita los puntos de la lista */
    display: flex; /* Utiliza el modelo de caja flexible para hacer la lista en línea horizontal */
}

/* Estilo para los elementos de la lista (li) dentro del nav */
nav li {
    margin-right: 15px; /* Márgenes entre elementos de la lista para separación */
}

/* Estilo básico para el pie de página */
footer {
    background-color: lightblue; /* Fondo gris oscuro */
    color: black; /* Texto blanco */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alinea el texto al centro */
}



footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 3em;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    margin-top: 1em;
}

.questionBox{
    width: 40vw; /* El 40% del ancho de la ventana */
    height: 40vw; /* Hace que el div sea cuadrado */
    background-color: lightblue;
    justify-content: center;
    margin: auto;
    border-radius: 1.5em;

}

.questions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



section{
    vertical-align: center;
    justify-content: center;
}


body{
    background-color: #b4ffdc;
    align-items: center;
    justify-content: center;
}

.answerBox{
    margin-top: 1em;
    margin-left: 2em;

    background-color: rgba(106, 106, 255, 0.421);
    padding: 1em 5em 1em 5em;
    text-align: center;
    border-radius: 2em;
}

.answerBox-correct{
    margin-top: 1em;
    margin-left: 2em;
    padding: 1em 5em 1em 5em;
    text-align: center;
    border-radius: 2em;
    background-color: rgba(0, 255, 0, 0.362);
}

.answerBox-incorrect{
    margin-top: 1em;
    margin-left: 2em;
    padding: 1em 5em 1em 5em;
    text-align: center;
    border-radius: 2em;
    background-color: rgba(255, 0, 0, 0.362);
}

.question{
    margin-left: 1em;
    padding-top: 2em;
}


h1{
    display: block;
}



