#error-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  #error-page h1 {
    font-size: 2.5em; 
  }
  
  #error-page p {
    margin: 10px 0;
  }
  
 